[submodule "micro_ros_espidf_component"]
	path = micro_ros_espidf_component
	url = https://github.com/micro-ROS/micro_ros_espidf_component.git
	branch = humble
[submodule "esp32-I2Cbus"]
	path = esp32-I2Cbus
	url = https://github.com/natanaeljr/esp32-I2Cbus
[submodule "icm-20948"]
	path = icm-20948
	url = https://github.com/shvass/icm-20948.git
	branch = main
[submodule "qmd"]
	path = qmd
	url = https://github.com/shvass/qmd.git
[submodule "MPUdriver"]
	path = MPUdriver
	url = https://github.com/natanaeljr/esp32-MPU-driver.git
[submodule "I2Cbus"]
	path = I2Cbus
	url = https://github.com/natanaeljr/esp32-I2Cbus.git
